html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Avenir";
  src: url("/font/Avenir-Roman.eot");
  src: local("/font/Avenir Roman"), local("/font/Avenir-Roman"),
    url("/font/Avenir-Roman.eot?#iefix") format("embedded-opentype"),
    url("/font/Avenir-Roman.woff2") format("woff2"),
    url("/font/Avenir-Roman.woff") format("woff"),
    url("/font/Avenir-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("/font/Avenir-Light.eot");
  src: local("/font/Avenir Light"), local("/font/Avenir-Light"),
    url("/font/Avenir-Light.eot?#iefix") format("embedded-opentype"),
    url("/font/Avenir-Light.woff2") format("woff2"),
    url("/font/Avenir-Light.woff") format("woff"),
    url("/font/Avenir-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Book";
  src: url("/font/Avenir-BookOblique.eot");
  src: local("/font/Avenir Book Oblique"), local("/font/Avenir-BookOblique"),
    url("/font/Avenir-BookOblique.eot?#iefix") format("embedded-opentype"),
    url("/font/Avenir-BookOblique.woff2") format("woff2"),
    url("/font/Avenir-BookOblique.woff") format("woff"),
    url("/font/Avenir-BookOblique.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Avenir Black Oblique";
  src: url("/font/Avenir-BlackOblique.eot");
  src: local("/font/Avenir Black Oblique"), local("/font/Avenir-BlackOblique"),
    url("/font/Avenir-BlackOblique.eot?#iefix") format("embedded-opentype"),
    url("/font/Avenir-BlackOblique.woff2") format("woff2"),
    url("/font/Avenir-BlackOblique.woff") format("woff"),
    url("/font/Avenir-BlackOblique.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Avenir";
  src: url("/font/Avenir-Heavy.eot");
  src: local("/font/Avenir Heavy"), local("/font/Avenir-Heavy"),
    url("/font/Avenir-Heavy.eot?#iefix") format("embedded-opentype"),
    url("/font/Avenir-Heavy.woff2") format("woff2"),
    url("/font/Avenir-Heavy.woff") format("woff"),
    url("/font/Avenir-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("/font/Avenir-HeavyOblique.eot");
  src: local("/font/Avenir Heavy Oblique"), local("/font/Avenir-HeavyOblique"),
    url("/font/Avenir-HeavyOblique.eot?#iefix") format("embedded-opentype"),
    url("/font/Avenir-HeavyOblique.woff2") format("woff2"),
    url("/font/Avenir-HeavyOblique.woff") format("woff"),
    url("/font/Avenir-HeavyOblique.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Avenir";
  src: url("/font/Avenir-MediumOblique.eot");
  src: local("/font/Avenir Medium Oblique"), local("/font/Avenir-MediumOblique"),
    url("/font/Avenir-MediumOblique.eot?#iefix") format("embedded-opentype"),
    url("/font/Avenir-MediumOblique.woff2") format("woff2"),
    url("/font/Avenir-MediumOblique.woff") format("woff"),
    url("/font/Avenir-MediumOblique.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Avenir";
  src: url("/font/Avenir-LightOblique.eot");
  src: local("/font/Avenir Light Oblique"), local("/font/Avenir-LightOblique"),
    url("/font/Avenir-LightOblique.eot?#iefix") format("embedded-opentype"),
    url("/font/Avenir-LightOblique.woff2") format("woff2"),
    url("/font/Avenir-LightOblique.woff") format("woff"),
    url("/font/Avenir-LightOblique.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Avenir Book";
  src: url("/font/Avenir-Book.eot");
  src: local("/font/Avenir Book"), local("/font/Avenir-Book"),
    url("/font/Avenir-Book.eot?#iefix") format("embedded-opentype"),
    url("/font/Avenir-Book.woff2") format("woff2"),
    url("/font/Avenir-Book.woff") format("woff"),
    url("/font/Avenir-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("/font/Avenir-Black.eot");
  src: local("/font/Avenir Black"), local("/font/Avenir-Black"),
    url("/font/Avenir-Black.eot?#iefix") format("embedded-opentype"),
    url("/font/Avenir-Black.woff2") format("woff2"),
    url("/font/Avenir-Black.woff") format("woff"),
    url("/font/Avenir-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("/font/Avenir-Oblique.eot");
  src: local("/font/Avenir Oblique"), local("/font/Avenir-Oblique"),
    url("/font/Avenir-Oblique.eot?#iefix") format("embedded-opentype"),
    url("/font/Avenir-Oblique.woff2") format("woff2"),
    url("/font/Avenir-Oblique.woff") format("woff"),
    url("/font/Avenir-Oblique.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Avenir";
  src: url("/font/Avenir-Medium.eot");
  src: local("/font/Avenir Medium"), local("/font/Avenir-Medium"),
    url("/font/Avenir-Medium.eot?#iefix") format("embedded-opentype"),
    url("/font/Avenir-Medium.woff2") format("woff2"),
    url("/font/Avenir-Medium.woff") format("woff"),
    url("/font/Avenir-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
